{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginsignup.css') }}">
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}


{% block title %}
Inventory
{% endblock %}

{% block content %}

<div class="signup-form">
    <div class="masthead clearfix">
        <div class="inner">
          <h1 class="masthead-brand">R20+</h1>
          <nav class="nav nav-masthead">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="inventory.html">Inventory</a>
            <a class="nav-link" href="mycharacters.html">My Characters</a>
            <a class="nav-link" href="login.html">Login</a>
          </nav>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      {% if inventory %}
      {% for inv in inventory %}
      <div class="card" style="width: 30rem; margin:0 auto;">
          <div class="card-body">
            <h3 class="card-text">Character Name: {{ inv.characters.Characte_name }}</h3>
            <h5 class="card-text">Scrolls: {{ inv.scrolls }}</h5>
            <h5 class="card-text">Keys: {{ inv.keys }}</h5>
            <h5 class="card-text">Arrows: {{ inv.arrows }}</h5>
            <h5 class="card-text">Short-Swords: {{ inv.shortsword }}</h5>
            <h5 class="card-text">Long-Swords: {{ inv.longsword }}</h5>
          </div>
        </div>
        <br>
        <br>
      {% endfor %}
  {% else %}
  {% endif %}
      <br>
      <br>
      <br>
    <form method="POST" action="" >
        {{ form.hidden_tag() }}
		<h2>Inventory</h2>
		<p class="hint-text">Here you can add to your inventory.</p>
    <div class="form-group">
			<div class="form-group">
                {{ form.health_potions.label }}
                <br> 
                {{ form.health_potions }}
                {% if form.health_potions.errors %}
                <div class='error'>
                    {% for error in form.health_potions.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.scrolls.label }}
                <br> 
                {{ form.scrolls }}
                {% if form.scrolls.errors %}
                <div class='error'>
                    {% for error in form.scrolls.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.keys.label }}
                <br> 
                {{ form.keys }}
                {% if form.keys.errors %}
                <div class='error'>
                    {% for error in form.keys.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.arrows.label }}
                <br> 
                {{ form.arrows }}
                {% if form.arrows.errors %}
                <div class='error'>
                    {% for error in form.arrows.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.shortsword.label }}
                <br> 
                {{ form.shortsword }}
                {% if form.shortsword.errors %}
                <div class='error'>
                    {% for error in form.shortsword.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.longsword.label }}
                <br> 
                {{ form.longsword }}
                {% if form.longsword.errors %}
                <div class='error'>
                    {% for error in form.longsword.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.character_name.label }}
                <br> 
                {{ form.character_name }}
                {% if form.character_name.errors %}
                <div class='error'>
                    {% for error in form.character_name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        <br>
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Save Inventory</button>
    </div>
  </form>
</div>
{% endblock %}